[gcode_macro _USER_VARIABLES]
# We can declare an "inductive_virtual" probe type as it's pretty close to the Beacon way of working and should just work!
variable_probe_type_enabled: "inductive_virtual"
variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "tilt_calib", "extruder_heating", "purge", "clean", "z_offset", "bedmesh", "primeline"
gcode:

# Beacon probe definition also include the probe management macro directly from here
[include ../../../../macros/base/probing/generic_probe.cfg]

[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0

[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
# Remove either the serial or canbus_uuid line dependant on your setup.
serial:  /dev/serial/by-id/usb-Cartographer_614e_1D000A800E43304253383020-if00
# canbus_uuid: <blank>
restart_method: command # Not needed for probes using CAN. 

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: -25 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

# [adxl345]
# Select 1 of the cs_pin below depending on the probe you have. 
# Having the wrong one selected will cause an Endless Bootloop
# Cartographer V4 has int2 connected to the probes PA1 pin
# cs_pin: cartographer:PA3 # For Cartographer V3
# cs_pin: cartographer:PA0 # For Cartographer V4
# spi_bus: cartographer:spi1

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     150, 150, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.