adxl_results/belts/*.csv
adxl_results/inputshaper/*.csv
adxl_results/vibrations/*.tar.gz

~/printer_data/config/config
~/printer_data/config/KAMP
~/printer_data/config/macros
~/printer_data/config/moonraker
~/printer_data/config/scripts
