[gcode_macro _USER_VARIABLES]
variable_extruder_enabled: True
gcode:

[extruder]
microsteps: 16
rotation_distance: 35.2												#Be sure to calibrate
gear_ratio: 44:8, 25:17
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: Generic 3950
#control: pid                                                        # Do PID calibration after initial checks
#pid_Kp: 28.182
#pid_Ki: 1.978
#pid_Kd: 100.397
min_temp: 0
max_temp: 315
min_extrude_temp: 170
max_extrude_only_distance: 1000                                     
max_extrude_cross_section: 30                                       
pressure_advance: 0.052                                             #Be sure to calibrate
pressure_advance_smooth_time: 0.040

# We also include the default wiring and low thermal hotend patch
[include ../../../../macros/helpers/hotend_heater_ctrl.cfg]